# Ambiente da aplicação: local, dev, development ou production
APP_ENV=local

# Banco de dados
DB_HOST=localhost
DB_NAME=whatsapp_disparador
DB_USER=root
DB_PASS=
DB_PORT=3306

# Google reCAPTCHA
RECAPTCHA_SITE_KEY=coloque_sua_site_key_aqui
RECAPTCHA_SECRET_KEY=coloque_sua_secret_key_aqui

########################################
# META / WHATSAPP
########################################
META_APP_ID=
META_APP_SECRET=
META_CONFIGURATION_ID=
META_VERIFY_TOKEN=
META_EMBEDDED_SIGNUP_REDIRECT_URI=
META_GRAPH_VERSION=v23.0
